<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="IronJS.Core" version="0.2.0.1" targetFramework="net40" />
  <package id="Jumony" version="2.0.0.0" targetFramework="net40" />
  <package id="JuraScript" version="1.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
</packages>