<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="WeixinAppId" value="wxc0274ad5b1faf46d"/>
    <add key="WeixinSecret" value="7928e0d7649c343cf76bcdcae1ca2358"/>
    <add key="WeixinToken" value="fsweixinshhot123"/>
    <add key="music" value="http://zhangmenshiting.baidu.com/data2/music/34152148/33922422194400128.mp3?xcode=239a34f35559efd25ffc7fc816039787b998b7a1c64654ff"/>
    <add key="hqmusic" value="http://zhangmenshiting.baidu.com/data2/music/34152144/33922422194400320.mp3?xcode=239a34f35559efd25ffc7fc816039787b2e36812fe8c7339"/>
  </appSettings>
  <connectionStrings>
    <add name="StarterSite" connectionString="Data Source=|DataDirectory|\StarterSite.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="Conn" connectionString="Data Source=|DataDirectory|\StarterSite.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" >

      <assemblies>
        <remove assembly="System.Web.WebPages.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.5" />

  </system.web>
  <system.webServer> 
    <handlers>
      <add name="1" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler"  />
      <add name="2" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler"  />
      <add name="3" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler"  />
      <add name="4" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler"  />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>

</configuration>